<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="1.1.0.118" />
  <package id="Rx-Core" version="1.0.2838.0" />
  <package id="Rx-Main" version="1.0.2838.0" />
  <package id="Rx-Interactive" version="1.0.2838.0" />
  <package id="reactiveui-core" version="2.0.0.2" />
  <package id="Newtonsoft.Json" version="4.0.1" />
</packages>